.NavBar {
  &__head {
    display: flex;
    flex-direction: row;
    &-spacer {
      flex: 1;
    }
  }
  &__item {
    font-style: italic;
    font-size: .8em;
  }
  &__kappa {
    font-size: .25em;
  }
}
