@import 'variables';

.Announcement {
  width: 100%;
  font-size: 0.8em;
  padding: 0.5em;
  text-align: center;
  background: $color--announcement-bg;
  img {
    max-width: 300px;
  }
}

.Countdown {
  &__field {
    margin-right: 0.25em;
  }
}
