.Song {
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  position: relative;

  @media (max-width: 1023px) {
    display: block;
    padding: 1em;
  }

  &__meta {
    flex: 1;
  }

  &__modified {
    font-size: .5em;
    opacity: .6;
  }

  &__hash {
    font-size: .5em;
    opacity: .6;
  }

  &__artist {
    font-weight: bold;
    font-size: 1.25em;
  }

  &__length {
    font-size: .8em;
    position: relative;
    color: #ccc;
    &-tooltip {
      display: none;
      z-index: 1;
      font-size: .8em;
      position: absolute;
      top: 1.75em;
      left: -1em;
      width: 20em;
      color: #fff;
      background: rgba(50, 50, 50, .8);
      padding: .5em;
      &-trigger:hover + .Song__length-tooltip {
        display: block;
      }
    }
  }

  &__album, &__genre {
    font-size: .8em;
    opacity: .6;
  }

  &__charter {
    margin: .5em 0;
  }

  &__sources {
    font-size: .8em;
    margin-bottom: .5rem;
  }

  &__chart-info {
    margin-right: 1em;
    position: relative;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    &-misc {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @media (max-width: 1023px) {
      width: auto;
      margin-top: 1em;
    }
  }

  &__chart-metrics {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .SongFeatures {
    margin-right: 1em;
  }

  .NoteDensity {
    margin-top: .5em;
    white-space: nowrap;
  }
}
