.Song {
  padding: .5em .75em;
  margin: .25em 0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  position: relative;

  @media (max-width: 839px) {
    display: block;
    padding: 1em;
  }

  &__meta {
    flex: 1;
  }

  &__misc {
    margin-top: .25em;
    font-size: .6em;
    color: #ccc;
    display: flex;
  }

  &__other {
    flex: 1;
    text-align: right;
  }

  &__hash {
    font-size: .5em;
    opacity: .6;
  }

  &__header {
    border-bottom: 1px solid #eee6;
    display: flex;
    align-items: flex-end;
  }

  &__title {
    flex: 1;
    &:hover .Song__misc {
      display: block;
    }
  }

  &__artist {
    font-weight: bold;
    font-size: .8em;
    margin-right: .5em;
    opacity: .8;
  }

  &__name {
    font-size: 1.125em;
    margin-bottom: -2px;
  }

  &__more {
    margin: 1px .25em;
    &:hover .SongFeatures {
      display: block;
    }
  }

  &__length {
    margin-left: .25em;
    display: inline-block;
    position: relative;
    &-tooltip {
      display: none;
      z-index: 1;
      position: absolute;
      top: 1.75em;
      left: -1em;
      width: 20em;
      color: #fff;
      background: rgba(50, 50, 50, .8);
      padding: .5em;
      &-trigger:hover + .Song__length-tooltip {
        display: block;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__charter {
    flex: 1;
  }

  &__sources {
    text-align: right;
    font-size: .6em;
  }

  &__playlist-source {
    font-size: .6em;
  }

  .SongFeatures {
    display: none;
    z-index: 1;
    font-size: .8em;
    position: absolute;
    top: 1.75em;
    right: -1em;
    width: 20em;
    color: #fff;
    background: rgba(50, 50, 50, .8);
    padding: .5em;
  }

  .NoteDensity {
    white-space: nowrap;
  }
}
