@import 'variables';

.Logo {
  &__title {
    font-size: 3em;
    letter-spacing: 2pt;
    a {
      color: $color--text !important;
      text-decoration: none;
    }
    iframe {
      margin-bottom: -0.25em;
      margin-left: .5em;
    }
  }
  &__subtitle {
    font-style: italic;
    font-size: .8em;
  }
  &__image {
    width: 4.5em;
  }
}
