.DownloadLink {
  &--no-link a,
  &--no-link a:hover {
    color: #fff;
  }
  &--verified {
    position: relative;
    a:hover + .DownloadLink__tooltip {
      display: block;
    }
  }

  &__charter {
    &--roled {
      .DownloadLink__charter-name {
        color: #BBDEFB;
        &:hover {
          color: #64B5F6;
        }
      }
    }
  }

  &__tooltip {
    z-index: 1;
    font-size: .8em;
    display: none;
    position: absolute;
    top: 100%;
    left: 5em;
    margin-top: .25rem;
    background: #444;
    color: #fff;
    padding: .5rem;
    max-width: 20rem;
  }
}
