.osu-row {
  font-size: 12px;
  margin: 2px 0;
  background: #46393f;
  border-radius: 10px;
  display: flex;
}
.title {
  font-size: 14px;
}
.description {
  color: rgb(255, 204, 34);
  margin-top: 1px;
}
.period {
  color: rgb(163, 143, 152);
  margin-left: 1em;
}
.left {
  flex: 1;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details {
  display: flex;
  align-items: center;
  margin: 0 1em;
  text-align: right;
}
.right::before {
  content: '';
  background-color: #46393f;
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.right {
  padding: 6px 6px 6px 12px;
  position: relative;
  width: 12em;
  color: rgb(255, 102, 171);
  background: #382e32;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
}
