.SearchInput {
  position: relative;
  .TextInput__input {
    padding-right: 1.75em;
  }
  &__button {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 1em;
    bottom: 0;
    height: 2.5em;
    background: none;
    appearance: none;
    border: none;
  }
}
