@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto/regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto/bold.ttf');
    font-weight: bold;
    font-style: normal;
}
