@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(/assets/images/ah2__bg.jpg);
  background-size: contain;
  color: $color--text;
  font-family: $font-family;
  line-height: 1.3;
  // Persistent scrollbar on Windows/Linux to eliminate page-shifting on a song list refresh
  overflow-y: scroll;
}

a {
  color: $color--link;
  text-decoration: none;
  &:hover, &:focus {
    color: $color--link-hover;
    transition: color .15s ease-in;
  }
}

