@import 'variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color--bg;
  color: $color--text;
  font-family: $font-family;
}

a {
  color: $color--link;
  text-decoration: none;
  &:hover, &:focus {
    color: $color--link-hover;
    transition: color .15s ease-in;
  }
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .25;
}
