$font-family: 'Nunito', 'Arial', sans-serif;

$color--bg: #2c3e50;

$color--text: #fff;
$color--link: #ffb300;
$color--link-hover: #ff8300;
$color--difficulty: #C62828;

$color--nav-top-bg: #2980b9;
$color--nav-bg: #34495e;
$color--nav-text: #f3f5fb;
$color--nav-link: $color--nav-text;
$color--nav-link-hover: $color--nav-text;

$color--announcement-bg: #2980b9;

$size--max-width: 72rem;
$size--page-padding: .5rem 1rem;
$size--page-margin: 1em auto 3em;
