.Search {
  max-width: 1280px;
  margin: auto;
  
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin-bottom: 3em;
  }
  .Logo {
    font-size: .8em;
    margin-right: 1.5em;
    margin-top: 1em;
  }
  .SearchBox {
    flex: 1;
  }
  @media (max-width: 740px) {
    &__header {
      flex-direction: column;
      align-items: flex-start;
    }
    .Logo {
      margin: 0 1em 1em;
    }
    .SearchBox {
      margin: 0 1em;
      width: calc(100% - 2em);
    }
  }
}
