.SongList {
  .Song:nth-child(2n) {
    background: #fff1;
  }
  .Song:nth-child(2n+1) {
    background: #fff2;
  }
  &__title {
    font-size: 1.5em;
    font-weight: 300;
    margin: .5em 1.25em;
  }
  &__more {
    margin: 1em auto 4em;
    text-align: center;
  }
}
