.SongList {
  .Song:nth-child(2n) {
    background: #fff1;
  }
  .Song:nth-child(2n+1) {
    background: #fff2;
  }
  &__title {
    font-size: 1.5em;
    margin: .5em 1.25em;
    letter-spacing: 1pt;
  }
  &__more {
    margin: 1em auto;
    text-align: center;
  }
}
