.SongList {
  .Song:nth-child(2n) {
    background: #fff1;
  }
  .Song:nth-child(2n+1) {
    background: #fff2;
  }
  &__title {
    font-size: 1.25em;
    font-weight: 300;
    margin: 0 .25em;
  }
  &__subtitle {
    opacity: .5;
    font-size: .8em;
    margin: -.75rem 1.875rem .5rem;
  }
  &__more {
    margin: 1em auto 4em;
    text-align: center;
  }
}
