@import 'mixins';

.Home {
  @include page-styles;

  .SearchBox, .AdvancedSearch {
    margin: 3em auto 0;
    max-width: 800px;
  }

  @media (max-width: 740px) {
    .Logo {
      margin: 0 1em;
    }
    .SearchBox, .AdvancedSearch {
      margin: 3em 1em 0;
    }
  }

  &__links {
    font-size: .9em;
    text-align: center;
  }
}
