.Home {
  max-width: 1280px;
  margin: auto;
  
  .SearchBox, .AdvancedSearch {
    margin: 3em auto 0;
    max-width: 800px;
  }

  @media (max-width: 740px) {
    .Logo {
      margin: 0 1em;
    }
    .SearchBox, .AdvancedSearch {
      margin: 3em 1em 0;
    }
  }

  &__links {
    text-align: center;
    margin: 2em 0;
  }
}
