@import 'variables';

.NoteDensity {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__text {
    text-align: right;
  }
  &__bar {
    width: 5px;
    height: 9.5em;
    background: #eee;
    position: absolute;
    bottom: 0;
    right: -1.5em;
    transform: scale(1, -1);
    &-filler {
      width: 5px;
      background: $color--link;
      &--maxxed {
        background: #ff0033;
      }
    }
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__rating {
    font-size: 1.125em;
    font-weight: 600;
  }
}
