@import 'variables';

.NoteDensity {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    margin-top: .5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__bar {
    height: 3px;
    width: 100%;
    background: #eee;
    &-filler {
      height: 3px;
      background: $color--link;
      &--maxxed {
        background: #ff0033;
      }
    }
  }
  &__rating {
    font-size: 1.125em;
    font-weight: 600;
  }
}
